body{
    margin: 0;
    background-color:#000;
    color: #fff;
    overflow: hidden;
} 
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player{  
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a {
    text-decoration: none;
    color: #fff;
}
.nav-div{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.1rem 0.5rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library-div{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;

}
.option{
    
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    /* height: 130px; */
    padding: 0.1rem 0.5rem;
    margin-top: 0.5rem;
}
.option i{
    font-size: 1.30rem;
}
.option a{
    font-size: 1.2rem;
    margin-left: 1rem;
    opacity: 0.7;
}
.option a:hover{
    opacity: 1;
}
.lib-option{
    margin: 1rem;
}
.icons{
    margin: 1rem;
    font-size: 1.25rem;
}
.icons i{
    opacity: 0.7;
    padding: 0.4rem;
    margin-left: 1rem; 
}

.box1{
    height: 8rem;
    background-color: #201f1f;
    border-radius: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem 1.25rem;
  
}
.box2{
    height: 8rem;
    background-color: #201f1f;
    border-radius: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem 1.25rem;

}
.box-p1{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.85rem 1rem;   
}
.box-p2{
   font-size: 0.75rem;
    opacity: 0.7;
    margin-left: 1rem;

}

.badges{
    border-radius: 1rem;
    border: none;
    padding:  0.25rem 1rem;
    margin: 1.25rem 0.75rem 0;
    font-weight: 700;

}
.badges:hover{
    background-color: #6b6464;
    color: #fff;
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
   
}
.sticky-nav-icon {
    margin-top: 1.2rem;
    margin-left: 0.5rem;
   
}

.sticky-nav-icon img{
    height: 25px;
    background-color: #201f1f;
    border-radius: 1rem;
    
}
.sticky-nav-icon .img{
    opacity: 0.7;
}
.nav-item{
    margin-right: 1rem;
}
.badges-btn{
    background-color: #000;
    color: #fff;
}
@media (max-width: 1000px){
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;

}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 2px solid white;
    opacity: 0.5;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album {
    width: 25%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.album-picture{
    height: 4rem;
    margin-right: 2rem;
    
}
.album-info{
   
    margin-top: 3rem;
    position: relative;
    right: 4rem;
}
.album-title{
    font-weight: 800;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}
.album-icon{
    height: 2rem;
    font-weight: 800;
    position: relative;
    right: 3rem;
}
.player {
    width: 50%;
    /* background-color: blue; */
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.control{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control-icon{
    height: 1rem;
    opacity: 0.7;
    margin-left:0.5rem ;
}
.control-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 1rem;
}
.control-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.control-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.player-controls-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-controls-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

